<% @titulo = 'Nova frase' %>

<form method="post">
<label>Texto:</label>
<br>
<input type="text" name="texto" size="77" maxlength="77">
<br>
<label>Autor:</label>
<br>
<input type="text" name="autor" size="22" maxlength="22">
<br>
<input type="submit" value="Postar">
</form>