<% @titulo = 'LOGIN' %>

<form method="post">
    <label>Usuário (e-mail):</label>
    <br>
    <input type="text" name="email">
    <br>
    <label>Senha:</label>
    <br>
    <input type="password" name="senha">
    <br>
    <input type="submit" value="Logar!">
</form>
